/*Téléchargement police*/
@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf),
    url(Rameway-Italic-VariableFont_wght.ttf);
}

*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* Mise en page général */

*
{
    margin: 0;
    padding: 0;
}

.container 
{
    max-width: 1350px;
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    
}

h1 
{
    font-size: large;
}

p 
{
    font-size: small;
}

h3 
{
    font-weight: bold;
}

/*header*/

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.headernavlink
{
    padding-top: 30px;
}

/*Navigation*/

.fas {
    color: #0065fc;
}

.navigation {
    display: flex;
}

.headernavlink
{
    color: #0065fc;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.hebergements-activites a:hover {
    border-top: 3px solid #0065FC;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}

/* Navigation */

.fas {
    color: #0065fc;
}

.navigation {
    display: flex;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.hebergements-activites a:hover {
    border-top: 3px solid #0065FC;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}

/*Titre principal*/

.header_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titre_principal {
    display: flex;
    flex-direction: column;
}

.titre_trouvez {
    margin-bottom: 14px;
}

/*Barre de recherche*/

.gps-logo {
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 54px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-section {
    display: flex;
    height: 40px;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.rechercher {
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}

.rechercher_loupe {
    display: none;
}


/*Filtres*/

#filtres-section {
    display: flex;
    align-items: center;
    margin: 32px 0px 41px 0px;
}


.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;

}

.circle-icon-filter {
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 1px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
}

.filtre p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 25px;
    font-weight: bold;
}

.titre_filtres p {
    font-weight: bold;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 1.5em;
}


h3 {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

.nombre_logements {
    margin: 0px 0px 35px 17px;
}

.filtre-bouton:hover {
    text-decoration: underline;
    color: #0065FC;
}

.fas.fa-info-circle {
    color: black;
}

/*Hébergements à Marseille*/

#hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
    border-radius: 20px;
}

.titre_hebergements_a_marseille {
    margin: 0px;
    ;
    font-size: large;
    margin-bottom: 21px;
}

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
}

.columns {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 44px 36px 44px 36px;
    max-width: 805px;


}


.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;

}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
}

.titre_contenu {
    padding-top: 11px;
    padding-bottom: 11px;
}

.prix_contenu {
    padding-bottom: 11px;
}

.hebergement_notation {
    padding-bottom: 11px;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
    font-weight: bold;
    font-style: normal;
}

.hebergement_montrer_plus {
    font-weight: bold;
}

.fas.fa-star.grey-star {
    color: grey;
}

/*herbgement populaire*/

.column {

    flex: 1;
    width: 100%;
    background-color:#F2F2F2;
    border-radius: 20px;
    width: 15%;
    margin: 40px;
    padding: 45px 38px 31px 45px;
    max-width: 345px;
  
}

.photo_populaire {

    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_populaire_carte {
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 6px 58px 6px 6px;
    max-width: 284px;
    max-height: 135px;
    margin-bottom: 29px;
}

.hebergement_populaire_contenu {
    padding: 7px 0px 7px 10px;
    display: flex;
    flex-direction: column;
}

.titre_populaire_contenu {
    padding-bottom: 14px;
}

.prix_populaire_contenu {
    padding-bottom: 30px;
}

.hebergement_notation_populaire {
    max-width: 100px;
    max-height: 10px;
}

/*Activités à marseille*/

.activitie_grid{
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    gap: 37.5px;
    height: 450px;
    grid-auto-flow: column;
}

.card1{
    grid-row-end: span 13;
}

.card2{
    grid-row-end: span 7;
}

.card3{
    grid-row-end: span 6;
}

.activitycard{
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.activitycard img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.activite_nom{
    align-self: center;
    background-color: #fff;
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

